.banner {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
}

.post {
  max-width: 720px;
  margin: 80px auto 0;

  h1 {
    padding: 1px;
    font-size: 56px;
    font-weight: 700;
  }

  section {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    color: var(--info);

    div {
      margin-top: 24px;
      font-size: 14px;

      & + div {
        margin-left: 24px;
      }
    }

    span {
      margin-left: 6px;
    }
  }

  .lastEdition {
    font-size: 14px;
    margin-top: 16px;
    font-style: italic;
    color: var(--info);
  }

  div {
    margin-top: 64px;
    line-height: 24px;
    padding-left: 3px;

    h2 {
      margin-top: 48px;
      font-size: 36px;
      font-weight: 700;
    }

    div {
      margin-top: 36px;
      text-align: justify;
      margin-bottom: 36px;
    }

    ul {
      padding-left: 1.5rem;

      li {
        margin: 0.5rem 0;
      }
    }
  }
}

.footer {
  max-width: 720px;

  .divider {
    border-color: rgba(215, 215, 215, 0.1);
  }

  .postControllers {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 32px;
    margin-bottom: 64px;

    div {
      a {
        color: var(--heading);
        transition: filter 0.2s;
  
        &:hover {
          filter: brightness(0.8);
        }
      }
  
      p {
        color: var(--highlight);
        margin-top: 4px;
      }
    }
  }

  .exitPreview {
    max-width: 720px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 36px;
    margin-bottom: 48px;
  
    
    height: 48px;
    font-weight: 700;
    background: var(--heading);
    color: var(--background);
  }
}



